<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd"> -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config />
<context:component-scan base-package="com.spring.demo.tutorial18"></context:component-scan>
	<bean id="triangleID" class="com.spring.demo.tutorial18.Triangle18">
		<!-- <property name="type" value="Equilateral"></property>
		<constructor-arg index="0" value="Equilateral"></constructor-arg>
		<constructor-arg index="3" value="30"></constructor-arg> -->
		<property name="pointA">
			<ref bean="point1" />
		</property>
		<property name="pointB" ref="point2"></property>
		<property name="pointC" ref="point3"></property>
	</bean>
	<bean id="point1" class="com.spring.demo.tutorial18.Point18">
		<qualifier value="circleRelated"></qualifier>
		<property name="x" value="${pointA.pointX}"></property>
		<property name="y" value="${pointA.pointY}"></property>
	</bean>
	<bean id="point2" class="com.spring.demo.tutorial18.Point18">
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	</bean>
	<bean id="point3" class="com.spring.demo.tutorial18.Point18">
		<property name="x" value="0"></property>
		<property name="y" value="20"></property>
	</bean>

	<!-- <bean id="circleID" class="com.spring.demo.tutorial18.Circle18">
		<property name="center"> <ref bean="point1" /> </property>


	</bean> -->

	<!-- <bean class= "org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"> 
		</bean> -->
	<!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean> -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsConfig.propertyName"></property>
	</bean>
	<!-- <bean class ="com.spring.demo.tutorial18.DisplayBeanProcessor18"> </bean> -->


</beans>